.welcomePage {
  background-color:rgba(212, 210, 246, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainContent {
  align-self: center;
  display: flex;
  margin-top: 26px;
  width: 100%;
  max-width: 1186px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .welcomePage { 
    max-width: 100%;
   
  }
  .mainContent {
    max-width: 100%;
  }
}